.text-description-time {
  font-size: 0.8rem;
  /* color: black !important; */
}

Link .no-text-decoration {
  text-decoration: none;
}

* {
  text-decoration: none !important;
}

hr.divider {
  margin: 0em;
  color: black !important;
}

.title-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.img-wrap-list {
  height: 15rem;
  width: 15rem;
  object-fit: cover
}

.search-width {
  width: 20rem;
}

.card-list {
  color: white;
  background-color: #36445c;
}

.bg-header {
  height: 30rem;
  width: 100%;
}

.filter-item {
  color: white;
}